/* NavBar */
body {
	font-family: 'Quicksand', sans-serif;
}
#navbar {
	position: fixed;
	width: 100%;
	z-index: 999;
}
nav .container img {
	width: 19px;
	border-radius: 35%;
	position: relative;
	right: 3px;
}
nav .container .navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 17px;
	position: relative;
	right: 45px;
	top: 2px;
}
.navbar-nav {
	margin: 13px 0;
}
.navbar-nav .nav-link {
	font-size: 14px;
	margin-top: 10px;
	padding-left: 10px;
	font-weight: bolder;
}
.navbar-nav .nav-link:hover {
	background-color: rgba(0,0,0,.03);
	border-radius: 5px;
}
.navbar-nav .nav-item .dropdown-menu .btn-primary {
	margin-left: 25px;
	margin-right: 10px;
	width: 130px;
}
.navbar-nav .nav-item .dropdown-menu .btn-success {
	width: 130px;
}

/* Jumbotron */
.jumbotron {
	background-image: url('../images/photos/jumbotron.jpg');
	height: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -280px;
	text-align: center;
	position: relative;
	box-shadow:  0 10px 10px -5px rgba(0,0,0,.75);
}
.jumbotron::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
}
.jumbotron .container {
	position: relative;
	top: 0px;
}
.jumbotron h1, .jumbotron p {
	color: white;
	z-index: 99;
	position: relative;
}

.jumbotron h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	margin: 90px 0 120px;
	font-size: 43px;
	
}
.jumbotron p {
	color: white;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 35px;
}

span {
	font-weight: 700;
}
.jumbotron .btn.btn-success {
	position: relative;
	z-index: 9;
	background-color: #18c1af;
	font-weight: bold;
}

/* Introduction */
#intro {
	margin-top: -15px;
	padding: 50px 0 50px;
	/*box-shadow: 0 10px 15px -8px rgba(0,0,0,.8);*/
	box-shadow: 0 40px 30px -45px rgba(0,0,0,.6);
	border-radius: 10px;
}
#intro .container .row {
	margin-bottom: -10px;
}
#intro .container .row p {
	padding-bottom: 25px;
}
.judul {
	font-size: 45px;
	font-weight: 700;
}
.ikon-judul {
	width: 75px;
	margin: 5px 0 35px;
}
.subjudul {
	margin-bottom: 17px;
	font-weight: 500;
}

/* Jurusan */
#jurusan {
	padding: 65px 0 ;
}
#jurusan .container .row .col-sm-5, #jurusan .col-sm-6 {
	border-radius: 10px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,.15);
	margin: 20px 25px 40px;
	padding: 40px 20px;
	background-color: white;
}
#jurusan .container .row .subjudul {
	font-size: 30px;
	margin-bottom: 0px;
}
#jurusan .container .row img {
	width: 65px;
	margin-top: 10px;
	margin-bottom: 23px;
}
#jurusan .container .row p {
	font-size: 14px;
}
#jurusan .container .row a {
	text-decoration: none;
}



/* Components Bootstrap */
.btn.btn-success {
	border: 0 solid white;
}
.btn.btn-success:hover {
	color: #18c1af;
	background-color: white;
	border: 0 solid white !important;
}

.btn.btn-primary {
	background-color: #118dec;
}
.btn.btn-primary:hover {
	color: #118dec;
	background-color: white;
}







/* Desktop Version */
@media (min-width: 992px) {
	
	/* NavBar */
	nav .container img {
		width: 45px
	}
	nav .container .navbar-brand {
		font-size: 35px;
		position: relative;
		left: 15px;
	}
	.navbar-nav {
		margin-left: 140px;
		margin-top: 5px;
	}
	.navbar-nav .nav-link {
		margin-top: -5px;
		width: 100px;
		text-align: center;
		text-transform: uppercase;
	}
	.navbar-nav .nav-link:hover {
		border-radius: 10px;
	}
	.navbar-nav .btn {
		margin-top: -8px;
		margin-left: 15px;
		border-radius: 15px;
		padding-top: 8px;
	}
	.navbar-nav .btn.btn-success {
		margin-bottom: 1px;
	}
	.navbar-nav .btn.btn-primary {
		margin-bottom: 1px;
	}
		
	/* Jumbotron */
	.jumbotron {
		height: 750px;
	}
	.jumbotron .display-4 {
		width: 860px;
		margin-left: 50px;
		margin-top: 250px;
	}
	
	/* Profile */

}
