<!-- NavBar -->
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="https://wa.me/628975836972"><img src="images/icon/tut-wuri-handayani.png" /> SMKN BERSAMA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="#jumbotron">Beranda<span class="sr-only">(current)</span></a>
                    
                <li class="nav-item dropdown" id="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tentang</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Kepala Sekolah</a>
                        <a class="dropdown-item" href="#">Sejarah Singkat</a>
                        <a class="dropdown-item" href="#">Daftar Guru</a>
                        <a class="dropdown-item" href="#">Admin Developer</a>
                    </div>
                </li>
                    
                <li class="nav-item dropdown" id="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Internet</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Daftar Online</a>
                        <a class="dropdown-item" href="#">E-Learning</a>
                        <a class="dropdown-item" href="#">E-Library</a>
                        <a class="dropdown-item" href="#">Berita Sekolah</a>
                    </div>
                </li>
                    
                <li class="nav-item dropdown" id="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lainnya</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Ekstrakurikuler</a>
                        <a class="dropdown-item" href="#">Program Sekolah</a>
                        <a class="dropdown-item" href="#">Penghargaan</a>
                    </div>
                </li>
                <a class="btn btn-primary tombol" href="#">Masuk</a>
                <a class="btn btn-success tombol" href="#">Daftar</a>
                    
            </div>
        </div>
    </div>
</nav>
<!-- Akhir NavBar -->