
	<!-- Jumbotron -->
	<div class="jumbotron" id="jumbotron">
		<div class="container">
			<h1 class="display-4">"Sekolah <span>Berprestasi</span>, dengan <br /><span>Akreditas A</span>, dan 95% <span>Lulus Langsung Kerja</span>."</h1>
			<p>Informasi lebih lanjut, tentang <span>SMKN BERSAMA</span> dan <br /> apa saja <span>keunggulan</span> dari sekolah ini.</p>
			<a class="btn btn-success btn-lg" href="#intro" role="button">Info Sekolah</a>
		</div>
	</div>
	<!-- Akhir Jumbotron -->
	
	<!-- Introduction -->
	<section id="intro">
		<div class="container text-center">
			<div class="row">
				<div class="col-sm">
					<h1 class="judul">SMKN BERSAMA</h1>
					<img class="ikon-judul" src="images/icon/intro.png" alt="intro"/>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed temporibus optio, accusamus. Culpa aperiam in tempora, delectus vero accusamus, quis modi. Illo quam esse facere quaerat, saepe velit! Assumenda pariatur quae sit, culpa rem delectus repellat dolores iste reiciendis, perferendis illo, totam debitis nulla ipsum. Vero reiciendis commodi distinctio alias magnam vel velit esse. Qui ea, cumque minus labore adipisci, illo perferendis commodi!</p>
				</div>
			</div>
			<div class="tes"></div>
					
			<div class="row">
				<div class="col-sm-5 offset-sm-1">
					<h2 class="subjudul">Visi</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias optio quod debitis nostrum libero porro architecto itaque molestiae illum laborum voluptas, est maiores unde, repellendus blanditiis eaque expedita culpa quos!</p>
				</div>
				<div class="col-sm-5">
					<h2 class="subjudul">Misi</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ipsam odit provident, quam quas, eaque! A eum culpa unde deleniti aperiam omnis, aspernatur dignissimos iusto cum ipsum commodi, hic adipisci!</p>
				</div>
			</div>
			
		</div>
	</section>
	<!-- Akhir Introduction -->
		
	<!-- Jurusan -->
	<section id="jurusan">
		<div class="container text-center">
			<div class="row">
				<div class="col-sm">
					<h1 class="judul">Jurusan</h1>
					<img class="ikon-judul" src="images/icon/jurusan.png" alt="jurusan" />
				</div>
			</div>
					
			<div class="row">
				<div class="col-sm-5">
					<h2 class="subjudul">Teknik Kendaraan Ringan</h2>
					<img src="../images/icon/kendaraan-ringan.png" alt="" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur earum eaque magni ea deleniti alias dolorem blanditiis rem nesciunt cupiditate eveniet quaerat magnam, fugiat hic. Aperiam eveniet praesentium et nisi.</p>
					<a href="/jurusan/Teknik kendaraan ringan/teknik-kendaraan-ringan.jpg">
						<span>Lihat Detail <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg></span>
					</a>
				</div>
						
				<div class="col-sm-5">
					<h2 class="subjudul">Teknik Kendaraan Berat</h2>
					<img src="../images/icon/kendaraan-berat.png" alt="" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, sint! Laborum obcaecati totam labore? Soluta veritatis molestiae deserunt alias eligendi, fugit quis cum aliquam impedit.</p>
					<a href="/jurusan/Teknik Kendaraan Berat/teknik-kendaraan-berat.jpg">
						<span>Lihat Detail <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg></span>
					</a>
				</div>
			</div>
					
			<div class="row">
				<div class="col-sm-5">
					<h2 class="subjudul">Rekayasa Perangkat Lunak</h2>
					<img src="../images/icon/rpl.png" alt="" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores sapiente blanditiis commodi dolor nam debitis aliquid qui, nemo sint ipsa, provident dicta, repellendus assumenda alias nihil! Voluptatibus quos voluptas suscipit eos, pariatur quam hic dolorem doloremque, molestiae culpa non officia maiores autem, cupiditate. Rerum.</p>
					<a href="/jurusan/Rekayasa Perangkat Lunak/rekayasa-perangkat-lunak.jpg">
						<span>Lihat Detail <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg></span>
					</a>
				</div>
					
				<div class="col-sm-5">
					<h2 class="subjudul">Teknik Komputer dan Jaringan</h2>
					<img src="../images/icon/tkj.png" alt="" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores sapiente blanditiis commodi dolor nam debitis aliquid qui, nemo sint ipsa, provident dicta, repellendus assumenda alias nihil! Voluptatibus quos voluptas suscipit eos, pariatur quam hic dolorem doloremque, molestiae culpa non officia maiores autem, cupiditate. Rerum.</p>
					<a href="/jurusan/Teknik Komputer dan Jaringan/teknik-komputer-dan-jaringan.jpg">
						<span>Lihat Detail <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg></span>
					</a>
				</div>
			</div>
					
			<div class="row">
				<div class="col-sm-6 offset-sm-3">
					<h2 class="subjudul">Multimedia</h2>
					<img src="../images/icon/multimedia.png" alt="" />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores sapiente blanditiis commodi dolor nam debitis aliquid qui, nemo sint ipsa, provident dicta, repellendus assumenda alias nihil! Voluptatibus quos voluptas suscipit eos, pariatur quam hic dolorem doloremque, molestiae culpa non officia maiores autem, cupiditate. Rerum.</p>
					<a href="/jurusan/Multimedia/multimedia.jpg">
						<span>Lihat Detail <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg></span>
					</a>
				</div>
			</div>
		</div>
		
	</section>
	<!-- Akhir Jurusan -->
		
	<!-- Alumni -->
		<section id="alumni">
		<div class="container">
			<h1 class="judul">Alumni</h1>
			<img class="ikon-judul" src="images/icon/alumni.png" alt="jurusan" />
			<div class="row">
				<div class="col-sm">
					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						</ol>
								  
							<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="row">
									<div class="col-sm">
										<div class="single-box">
											<div class="img-area"><img src="images/photos/1.jpg" /></div>
											<div class="text-area">
												<h5 class="font-weight-bold">Person 1</h5>
												<p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat blanditiis vero perferendis dolore quisquam, saepe est!</p>
											</div>
										</div>
									</div>
										
									<div class="col-sm">
										<div class="single-box">
											<div class="img-area"><img src="images/photos/2.jpg" /></div>
											<div class="text-area">
												<h5 class="font-weight-bold">Person 2</h5>
												<p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque saepe corrupti consectetur ab quae!</p>
											</div>
										</div>
									</div>
										
									<div class="col-sm">
										<div class="single-box">
											<div class="img-area"><img src="images/photos/3.jpg" /></div>
											<div class="text-area">
												<h5 class="font-weight-bold">Person 3</h5>
												<p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae atque, laborum repudiandae aliquid at tempore doloribus et?</p>
											</div>
										</div>
									</div>
								</div>
							</div>
								
							<div class="carousel-item">
								<div class="row">
									<div class="col-sm">
										<div class="single-box">
											<div class="img-area"><img src="images/photos/4.jpg" /></div>
											<div class="text-area">
												<h5 class="font-weight-bold">Person 4</h5>
												<p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magnam aut molestiae fuga aperiam, illum.</p>
											</div>
										</div>
									</div>
										
									<div class="col-sm">
										<div class="single-box">
											<div class="img-area"><img src="images/photos/5.jpg" /></div>
											<div class="text-area">
												<h5 class="font-weight-bold">Person 5</h5>
												<p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo cumque, voluptates pariatur, temporibus perspiciatis iste?</p>
											</div>
										</div>
									</div>
										
									<div class="col-sm">
										<div class="single-box">
											<div class="img-area"><img src="images/photos/6.jpg" /></div>
											<div class="text-area">
												<h5 class="font-weight-bold">Person 6</h5>
												<p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat magni labore aperiam hic possimus, quam nostrum!</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="carousel-item">
								<div class="row">
									<div class="col-sm">
										<div class="single-box">
											<div class="img-area"><img src="images/photos/7.jpeg" /></div>
											<div class="text-area">
												<h5 class="font-weight-bold">Person 7</h5>
												<p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non qui distinctio iure ad voluptate.</p>
											</div>
										</div>
									</div>
										
									<div class="col-sm">
										<div class="single-box">
											<div class="img-area"><img src="images/photos/8.jpeg" /></div>
											<div class="text-area">
												<h5 class="font-weight-bold">Person 8</h5>
												<p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ipsa soluta iure nihil sapiente, perferendis ipsam eligendi.</p>
											</div>
										</div>
									</div>
										
									<div class="col-sm">
										<div class="single-box">
											<div class="img-area"><img src="images/photos/9.jpeg" /></div>
											<div class="text-area">
												<h5 class="font-weight-bold">Person 9</h5>
												<p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit numquam assumenda, harum nesciunt ut itaque.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Akhir Alumni -->