<div class="container">
    <div class="row">
        <div class="col-md mt-5 text-center">
            <h1 class="judul"><%= titleJurusan %></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md text-center">
            <img src="/images/photos/jurusan/<%= gambar %>" alt="<%= titleJurusan %> ">
        </div>
    </div>
    <div class="row">
        <div class="col-md mt-3 mb-5">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat neque distinctio quos corrupti molestias, nihil laboriosam tenetur reprehenderit ullam, modi odit, non ad veritatis praesentium. Molestias, temporibus? Velit itaque ipsam repellat, ab provident laudantium quidem ducimus, tempore molestias ullam aliquid facere, iure quisquam qui. Repellat earum aliquid praesentium quam rem ex neque libero a tempora porro magnam nisi esse id saepe vel doloremque veniam dolores enim nam fuga, accusamus odio maxime incidunt? Nisi alias rerum necessitatibus nihil, tempora, aperiam minus fuga aliquam cupiditate deleniti mollitia ut dolorum? Quos dicta cum nemo officiis doloribus optio facere consectetur obcaecati ab iste facilis natus vel tempore, assumenda ad, possimus, illum tenetur inventore non quasi nam. Consequuntur unde maiores natus, ut dolorum cupiditate repudiandae, obcaecati quis impedit repellat aperiam voluptates dolore blanditiis recusandae reiciendis eum distinctio cum facilis. Odio, atque voluptatibus hic molestias iure vero ratione debitis aliquid? Possimus dolorem asperiores sed ipsam quae maiores voluptatum iusto cumque ad! Aperiam illo assumenda voluptatum! Maiores voluptatibus facilis sed temporibus vitae voluptatum harum sit architecto sequi eius, accusantium in repudiandae aliquam, explicabo consectetur! In harum ab voluptatibus perferendis nisi dolore consectetur modi nostrum tempora fugit autem alias, cupiditate laboriosam? Ratione, dolorem qui! Excepturi, doloremque, totam accusamus laudantium recusandae tempore inventore laborum nemo officia odio vitae, quae distinctio id. Laborum, deserunt cum! Iure ea fuga possimus consequuntur repudiandae illo dicta quos dignissimos laboriosam est neque doloremque enim eaque, quis, esse molestiae illum aut officiis assumenda sed laborum, consequatur asperiores consectetur. Voluptatum quibusdam, autem delectus ipsam, dolor laudantium minima labore, et eligendi harum consequatur nesciunt tenetur ex? At, eaque nesciunt? Ad ex exercitationem quam natus reiciendis cumque ratione, asperiores quasi molestiae cum voluptatibus fugit nisi atque ipsa voluptatem a totam recusandae, architecto nihil sequi tempore aliquam necessitatibus porro placeat. Consequatur, sequi! Assumenda perferendis libero architecto suscipit, sunt earum.
            </p>
        </div>
    </div>
</div>