<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
          <h2 class="text-center mb-5"><%= title %></h2>
          <table class="table table-striped">
            <tr>
                <td class="table-primary">Nama</td>
                <td class="table-secondary">Umur</td>
                <td class="table-success">Tanggal lahir</td>
                <td class="table-danger">Domisili</td>
                <td class="table-warning">Negara</td>
                <td class="table-info">No HP</td>
                <td class="table-light">Jenis kelamin</td>
                <td class="table-dark">Pekerjaan</td>
              </tr>
              <tr>
                <td class="table-primary">...</td>
                <td class="table-secondary">...</td>
                <td class="table-success">...</td>
                <td class="table-danger">...</td>
                <td class="table-warning">...</td>
                <td class="table-info">...</td>
                <td class="table-light">...</td>
                <td class="table-dark">...</td>
              </tr>
              <tr>
                <td class="table-primary">...</td>
                <td class="table-secondary">...</td>
                <td class="table-success">...</td>
                <td class="table-danger">...</td>
                <td class="table-warning">...</td>
                <td class="table-info">...</td>
                <td class="table-light">...</td>
                <td class="table-dark">...</td>
              </tr>
              <tr>
                <td class="table-primary">...</td>
                <td class="table-secondary">...</td>
                <td class="table-success">...</td>
                <td class="table-danger">...</td>
                <td class="table-warning">...</td>
                <td class="table-info">...</td>
                <td class="table-light">...</td>
                <td class="table-dark">...</td>
              </tr>
          </table>
        </div>
    </div>
</div>