/* NavBar */
body {
	font-family: 'Quicksand', sans-serif;
}
#navbar {
	position: fixed;
	width: 100%;
	z-index: 999;
}
nav .container .navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 17px;
	position: relative;
	right: 7px;
	top: 2px;
}
nav .container .navbar-brand img {
	width: 19px;
	position: relative;
	top: -3px;
}
.navbar-nav {
	margin: 13px 0;
}
.navbar-nav .nav-link {
	font-size: 14px;
	margin-top: 10px;
	padding-left: 10px;
	font-weight: bolder;
}
.navbar-nav .nav-link:hover {
	background-color: rgba(0,0,0,.03);
	border-radius: 5px;
}
.navbar-nav .btn-primary {
	margin: 15px 0;
}

/* Jumbotron */
.jumbotron {
	background-image: url('../images/photos/jumbotron.jpg');
	height: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -280px;
	text-align: center;
	position: relative;
	box-shadow:  0 10px 10px -5px rgba(0,0,0,.75);
}
.jumbotron::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
}
.jumbotron .container {
	position: relative;
	top: 0px;
}
.jumbotron h1, .jumbotron p {
	color: white;
	z-index: 99;
	position: relative;
}
.jumbotron h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	margin: 90px 0 120px;
	font-size: 43px;
	
}
.jumbotron p {
	color: white;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 35px;
}

span {
	font-weight: 700;
}
.jumbotron .btn.btn-success {
	position: relative;
	z-index: 9;
	background-color: #18c1af;
	font-weight: bold;
}

/* Introduction */
#intro {
	margin-top: -15px;
	padding: 50px 0 50px;
	/*box-shadow: 0 10px 15px -8px rgba(0,0,0,.8);*/
	box-shadow: 0 40px 30px -45px rgba(0,0,0,.6);
	border-radius: 10px;
}
#intro .container .row {
	margin-bottom: -10px;
}
#intro .container .row p {
	padding-bottom: 25px;
}
.judul {
	font-size: 45px;
	font-weight: 700;
}
.ikon-judul {
	width: 75px;
	margin: 5px 0 35px;
}
.subjudul {
	margin-bottom: 17px;
	font-weight: 500;
}

/* Jurusan */
#jurusan {
	padding: 65px 0 ;
}
#jurusan .container .row .col-sm-5, #jurusan .col-sm-6 {
	border-radius: 10px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,.15);
	margin: 20px 25px 40px;
	padding: 40px 20px;
	background-color: white;
}
#jurusan .container .row .subjudul {
	font-size: 30px;
	margin-bottom: 0px;
}
#jurusan .container .row img {
	width: 65px;
	margin-top: 10px;
	margin-bottom: 23px;
}
#jurusan .container .row p {
	font-size: 14px;
}
#jurusan .container .row a {
	text-decoration: none;
}

/* Alumni */
#alumni {
	background-image: linear-gradient(-140deg, #eee 50%, aqua 50% );
	text-align: center;
	margin-top: 120px;
	min-height: 800px;
}
#alumni .container h1 {
	font-size: 60px;
	padding-top: 50px;
}
#alumni .container img {
	margin-bottom: 50px;
}
#alumni .row .col-sm {
	margin-bottom: 50px;
}
#alumni .img-area {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #fff;
	top: 35px;
	left: 34%;
}
#alumni .img-area img {
	width: 100%;
}
#alumni .text-area {
	width: 100%;
	height: 400px;
	display: block;
	padding: 175px 10px 30px;
	background: #262626;
	color: #fff;
	border-radius: 15px;

} 
#alumni .text-area h5 {
	font-size: 21px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
#alumni .text-area p {
	font-size: 17px;
}
#alumni .single-box {
	position: relative;
}
.carousel-indicators {
	left: 0;
	top: auto;
	bottom: -70px;
}
.carousel-indicators li {
	background-color: #000;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
.carousel-indicators li.active {
	background-color: #fff;
}

/* Footer */
footer {
	min-height: 400px;
	background-color: rgba(0,0,0,.7);
	text-align: center;
	color: white;
}
footer .container .row .col-sm:first-child a {
	font-family: 'Lobster', cursive;
	font-size: 17px;
	position: relative;
	right: 7px;
	top: 2px;
	color: white;
	text-decoration: none;
}
footer .container a img {
	width: 19px;
	position: relative;
	top: -3px;
}
footer .container .btn {
	background-color: white;
	border: 3px solid green;
	border-radius: 10px;
	color: green;
}
footer .container hr {
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: rgba(255,255,255,.5);
}








/* Components Bootstrap */
.btn.btn-success:hover {
	color: #18c1af;
	background-color: white;
}

.btn.btn-primary {
	background-color: #118dec;
}
.btn.btn-primary:hover {
	color: #118dec;
	background-color: white;
}







/* Desktop Version */
@media (min-width: 992px) {
	
	/* NavBar */
	nav .container img {
		width: 45px
	}
	nav .container .navbar-brand {
		font-size: 35px;
		position: relative;
		left: 15px;
	}
	.navbar-nav {
		margin-left: 140px;
		margin-top: 5px;
	}
	.navbar-nav .nav-link {
		margin-top: -5px;
		width: 100px;
		text-align: center;
		text-transform: uppercase;
	}
	.navbar-nav .nav-link:hover {
		border-radius: 10px;
	}
	.navbar-nav .btn {
		margin-top: -8px;
		margin-left: 15px;
		border-radius: 15px;
		padding-top: 8px;
	}
	.navbar-nav .btn.btn-success {
		margin-bottom: 1px;
	}
	.navbar-nav .btn.btn-primary {
		margin-bottom: 1px;
	}
		
	/* Jumbotron */
	.jumbotron {
		height: 750px;
	}
	.jumbotron .display-4 {
		width: 860px;
		margin-left: 50px;
		margin-top: 250px;
	}
	
	/* Profile */

}
